version: "3.8"

services:
    plex:
        hostname: plex
        build:
            context: ./pms
            dockerfile: ./extended-image/Dockerfile
        environment:
            PLEX_CLAIM: claim-NmPwRs9XZAmxnFsL1rFj
            VERSION: docker
            PUID: ${PUID}
            PGID: ${PGID}
            TZ: ${TZ}
            ORCHESTRATOR_URL: https://plex-orchestrator.dev.dckr.it
            PMS_SERVICE: plex # This service. If you disable Local Relay then you must use PMS_IP instead
            PMS_PORT: "32400"
            TRANSCODE_OPERATING_MODE: both #(local|remote|both)
            TRANSCODER_VERBOSE: "1" # 1=verbose, 0=silent
            LOCAL_RELAY_ENABLED: "1"
            LOCAL_RELAY_PORT: "32499"
        healthcheck:
            test: curl -fsS http://localhost:32400/identity > /dev/null || exit 1
            interval: 15s
            timeout: 15s
            retries: 5
            start_period: 30s
        volumes:
            - /mnt/hostshare/container-data/plex/config:/config
            - /mnt/milkyway/media/transcode:/transcode
            - /mnt/milkyway/media/tvshows:/data/tv
            - /mnt/milkyway/media/movies:/data/movies
        ports:
            - 32499:32499 # LOCAL_RELAY_PORT
            - 32400:32400
            - 3005:3005
            - 8324:8324
            - 1900:1900/udp
            - 32410:32410/udp
            - 32412:32412/udp
            - 32413:32413/udp
            - 32414:32414/udp

    plex-orchestrator:
        hostname: plex-orchestrator
        build: ./orchestrator
        healthcheck:
            test: curl -fsS http://localhost:3500/health > /dev/null || exit 1
            interval: 15s
            timeout: 15s
            retries: 5
            start_period: 30s
        environment:
            TZ: ${TZ}
            LISTENING_PORT: 3500
            WORKER_SELECTION_STRATEGY: "LOAD_RANK" # RR | LOAD_CPU | LOAD_TASKS | LOAD_RANK (default)
        volumes:
            - /etc/localtime:/etc/localtime:ro
        ports:
            - 3500:3500

    plex-worker:
        build:
            context: ./worker
            dockerfile: ./extended-image/Dockerfile
        deploy:
            mode: replicated
            replicas: 2
        environment:
            VERSION: docker
            PUID: ${PUID}
            PGID: ${PGID}
            TZ: ${TZ}
            LISTENING_PORT: 3501 # used by the healthcheck
            STAT_CPU_INTERVAL: 2000 # interval for reporting worker load metrics
            ORCHESTRATOR_URL: http://plex-orchestrator:3500
            EAE_SUPPORT: "1"
        healthcheck:
            test: curl -fsS http://localhost:3501/health > /dev/null || exit 1
            interval: 15s
            timeout: 15s
            retries: 5
            start_period: 240s
        volumes:
            - /mnt/hostshare/container-data/plex/codecs:/codecs
            - /mnt/milkyway/media/transcode:/transcode
            - /mnt/milkyway/media/tvshows:/data/tv
            - /mnt/milkyway/media/movies:/data/movies
